<label for="num">numero:
  <input type="number" id="num" value="35"  #num>
</label>
<button (click)="fibonacci(num.value)">fibonacci</button>
<pre>{{ res | json }}</pre>
<router-outlet>
</router-outlet>